<!doctype html>
<html ⚡{% if direction %} dir="{{ direction }}"{% endif %}>
  <head>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🚨</text></svg>">
    <link rel="canonical" href="{{ request.url }}">
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <script async src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"
            custom-element="amp-sidebar"></script>
    <style amp-boilerplate>
      body {
        -webkit-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
        -moz-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
        -ms-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
        animation: -amp-start 8s steps(1, end) 0s 1 normal both;
      }
      @-webkit-keyframes -amp-start {
        from {visibility: hidden} to {visibility: visible}}
      @-moz-keyframes -amp-start {
        from {visibility: hidden} to {visibility: visible}}
      @-ms-keyframes -amp-start {
        from {visibility: hidden} to {visibility: visible}}
      @-o-keyframes -amp-start {
        from {visibility: hidden} to {visibility: visible}}
      @keyframes -amp-start {
        from {visibility: hidden} to {visibility: visible}}
    </style>
    <noscript>
      <style amp-boilerplate>
        body {
          -webkit-animation: none;
          -moz-animation: none;
          -ms-animation: none;
          animation: none;
        }
      </style>
    </noscript>
    <style amp-custom>
      :root {
        --space-2: 10px;
        --space-4: 20px;

        --text-color: #111133;
        --secondary-color: #333366;

        --bg-color: GhostWhite;
        --bg-post: #fefeff;
        --bg-red: #fadbd8;
        --bg-yellow: #fcf3cf;
        --bg-green: #d5f5e3;
      }
      @media (prefers-color-scheme: dark) {
        :root {
          --text-color: GhostWhite;
          --secondary-color: #bbbbbb;

          --bg-color: DarkBlue;
          --bg-post: #222222;
          --bg-red: #663333;
          --bg-yellow: #666633;
          --bg-green: #336633;
        }
      }
      @font-face {
        font-family: 'Lucida Sans Unicode';
        src: url('/LucidaSansUnicode.ttf');
      }
      body {
        display: flex;
        color: var(--text-color);
        background-color: var(--bg-color);
        font-family: 'Lucida Sans Unicode', sans-serif;
      }
      h1 {
        padding: var(--space-2);
        margin: 0;
      }
      .hamburger {
        float: right;
        margin: 1em;
        padding-left: 0.3em;
        padding-right: 0.3em;
        font-size: 1.2em;
      }
      nav[toolbar] ul {
        margin-top: 10px;
        color: var(--secondary-color);
        display: block;
        padding-left: 0;
      }
      nav[toolbar] li {
        margin: var(--space-2);
        margin-left: var(--space-4);
        list-style: none;
      }
      amp-sidebar {
        color: var(--text-color);
        background-color: var(--bg-post);
      }
      h2 {
        overflow-wrap: anywhere;
        margin: var(--space-2);
      }
      p {
        margin: var(--space-2);
      }
      a {
        /* Explicitly have a hand pointer even when href isn't set */
        cursor: pointer;
        /* Don't underline */
        text-decoration: none;
        /* Avoid blue color */
        color: currentColor;
        /* Make links bold */
        font-weight: bold;
      }
      .post {
        display: flex;
        flex-wrap: wrap;
        margin: 10px;
        padding: 5px;
        border-radius: 25px;
        background-color: var(--bg-post);
      }
      .red {
        background-color: var(--bg-red);
      }
      .yellow {
        background-color: var(--bg-yellow);
      }
      .green {
        background-color: var(--bg-green);
      }
      .pic-container {
        margin: 5px;
        width: 250px;
      }
      .pic {
        border-radius: 25px;
      }
      .post-info {
        color: var(--secondary-color);
      }
      .comment {
        font-weight: normal;
        overflow-wrap: anywhere;
      }
      footer {
        display: flex;
        flex-wrap: wrap;
        margin: 25px;
        justify-content: center;
      }
      .footer-link {
        margin: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 25px;
        background-color: var(--bg-post);
      }
      @media (min-width: 500px) {
        .hamburger {
          display: none;
        }
        main {
          display: flex;
        }
        aside {
          min-width: 150px;
          width: 200px;
        }
        .post-container {
          max-width: 500px;
        }
      }
      @media (max-width: 499px) {
        .pic-container {
          width: 100%;
        }
      }
    </style>
  </head>
  <body>
    <amp-sidebar id="sidebar-desktop" layout="nodisplay" side="left">
      <h1><a href="/{{ translation.parameter }}">🚨 Vivalerts</a></h1>
      <nav toolbar="(min-width: 500px)" toolbar-target="target-element-desktop">
        <ul>
          <li><a href="/{{ translation.parameter }}">🏠 {{ translation.home }}</a></li>
          <li><a href="/world{{ translation.parameter }}">🌐 {{ translation.world }}</a></li>
          <li><a href="/hacker-news{{ translation.parameter }}">🤖 Hacker News</a></li>
          <li>
            <select on="change:AMP.navigateTo(url=event.value)">
              <option value="?lang=en"{{ translation.selected_en }}>English</option>
              <option value="?lang=el"{{ translation.selected_el }}>Ελληνικά</option>
            </select>
          </li>
        </ul>
      </nav>
    </amp-sidebar>
    <div style="margin: auto;">
      <header>
        <button class="hamburger" on="tap:sidebar-desktop.toggle">☰</button>
        <h1><a href="/{{ translation.parameter }}">🚨 Vivalerts</a>: {{ title }}</h1>
      </header>
      <main>
        <aside id="target-element-desktop"></aside>
        {% if about %}
        <div>
          <article class="post">
            <div class="pic-container">
              <amp-img class="pic" width="240" height="200" layout="responsive"
                src="Nikos.png"></amp-img>
            </div>
          {% if translation.lang == 'el' %}
            <div class="post-container">
              <p class="post-info">
                Χαίρετε! Ονομάζομαι Νίκος Ποθητός και είμαι προς το παρόν ο
                μόνος που συντηρεί αυτήν την ιστοσελίδα, όπου φιλοδοξώ να
                εμφανίζονται οι ειδήσεις για κάθε χώρα ξεχωριστά. Επιθυμώ κάποια
                στιγμή αυτή η προσπάθεια να γίνει η κύρια εργασία μου!
              </p>
            </div>
          </article>
          <article class="post red">
            <div class="post-container">
              <p class="post-info">
                Τον Φεβρουάριο του 2023 σημειώθηκε ένα θανατηφόρο σιδηροδρομικό
                δυστύχημα που προκάλεσε τον θάνατο 57 ανθρώπων στα Τέμπη. Η
                ένωση Ελλήνων δημοσιογράφων ζήτησε συγγνώμη για τη λανθασμένη
                ιεράρχηση και <i>σειρά</i> των ειδήσεων που παρουσιάζονταν πριν
                από το ατύχημα. Τα νέα σχετικά με την ασφάλεια των σιδηροδρόμων
                είχαν πάντα παραμεληθεί.
              </p>
            </div>
          </article>
          <article class="post yellow">
            <div class="post-container">
              <p class="post-info">
                Θέλετε να διαβάζετε τις ειδήσεις σύμφωνα τουλάχιστον με τις
                τάσεις στο X και στην Google; Θέλετε να διαβάζετε τα καλύτερα
                σχετικά σχόλια ανώνυμα, δίχως να χρειάζεται να δημιουργήσετε
                λογαριασμό στα μέσα κοινωνικής δικτύωσης; Τα Vivalerts
                αναζητούν τους καλύτερους συνδέσμους και σχόλια στον ωκεανό των
                μέσων κοινωνικής δικτύωσης και σας τα παραδίδουν. Κάθε τάση
                εμφανίζεται με <i>πλάγιους</i> χαρακτήρες στον τίτλο κάθε
                είδησης.
              </p>
            </div>
          </article>
          <article class="post green">
            <div class="post-container">
              <p class="post-info">
                Για να διατηρήσουμε αυτή την ιστοσελίδα ζωντανή, χρειαζόμαστε
                οπωσδήποτε την υποστήριξή σας! Ακολουθήστε μας στο <a
                href="https://x.com/vivalerts">X</a>, στο <a
                href="https://facebook.com/vivalerts">Facebook</a> και στο <a
                href="https://instagram.com/vivalerts">Instagram</a> και αφήστε
                μας πολύτιμα σχόλια! Διαδώστε και απολαύστε ♥
              </p>
            </div>
          </article>
          <article class="post">
            <div class="post-container">
              <p class="post-info">
                Φιλικός ιστότοπος: <a
                href="https://congohellas.blogspot.com">Περιφερειακό Φόρουμ για
                την Ανοικοδόμηση της Λαϊκής Δημοκρατίας του Κονγκό</a>
              </p>
            </div>
          </article>
          {% else %}
            <div class="post-container">
              <p class="post-info">
                Hey! My name is Nikos Pothitos, and I am currently the only one
                who maintains this website, where I aspire to display the news
                for each country separately. I wish at some point to make this
                endeavor my main job!
              </p>
            </div>
          </article>
          <article class="post red">
            <div class="post-container">
              <p class="post-info">
                In February of 2023, there was a lethal train accident that
                caused the death of 57 people at Tempi, Greece. Greek
                journalists' association apologized for the wrong
                prioritization and <i>order</i> of the presented news before
                the accident. News about railway safety had always been
                neglected.
              </p>
            </div>
          </article>
          <article class="post yellow">
            <div class="post-container">
              <p class="post-info">
                Do you want to read the news at least in accordance with the
                trends in X and Google? Do you want to read the best relevant
                comments anonymously, without the need to create a social media
                account? Vivalerts search the best links and comments in the
                social media ocean and deliver them to <i>you</i>. Each trend
                is displayed in <i>italics</i> in the headline of each news.
              </p>
            </div>
          </article>
          <article class="post green">
            <div class="post-container">
              <p class="post-info">
                To keep this service sustainable, we definitely need your
                support! Please follow us on <a
                href="https://x.com/vivalerts">X</a>, <a
                href="https://facebook.com/vivalerts">Facebook</a>, and <a
                href="https://instagram.com/vivalerts">Instagram</a> and
                provide valuable feedback to us! Spread and enjoy ♥
              </p>
            </div>
          </article>
          <article class="post">
            <div class="post-container">
              <p class="post-info">
                My friend's site: <a
                href="https://congohellas.blogspot.com">Regional Forum for the
                Reconstruction of the Democratic Republic of Congo</a>
              </p>
            </div>
          </article>
          {% endif %}
        {% elif not error_404 %}
        <div>
        {% for post in posts %}
          <article class="post"{% if post.direction %} dir="{{ post.direction }}"{% endif %}>
          {% if post.image %}
            <div class="pic-container">
              <a href="{{ post.link }}">
                <amp-img class="pic" width="240" height="200" layout="responsive"
                  src="{{ post.image }}"></amp-img>
              </a>
            </div>
          {% endif %}
            <div class="post-container">
            {% if post.title %}
              <h2><a href="{{ post.link }}">{{ post.title | safe }}</a></h2>
            {% endif %}
            {% if post.comment %}
              <p class="post-info">
                <a href="{{ post.post }}" class="comment">{{ post.comment | safe }}</a>
              </p>
            {% endif %}
              <p class="post-info">
              {% if post.author %}
                <a href="{{ post.post }}">{{ post.author }}</a>
                {{ post.date }}
              {% endif %}
              {% if post.first_trend %}
                ⚡ {{ post.first_trend }}
              {% endif %}
              </p>
            </div>
          </article>
        {% endfor %}
        {% endif %}
        {% if not error_404 %}
          <footer>
            <a class="footer-link" href="/{{ translation.parameter }}">🏠 {{ translation.home }}</a>
            <a class="footer-link" href="/world{{ translation.parameter }}">🌐 {{ translation.world }}</a>
            <a class="footer-link" href="/hacker-news{{ translation.parameter }}">🤖 Hacker News</a>
            <a class="footer-link" href="/about{{ translation.parameter }}">🚨 {{ translation.about }}</a>
          </footer>
        </div>
        {% endif %}
      </main>
    </div>
  </body>
</html>
